<div class="container text-center">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Invites</div>
                <div class="panel-body">
                    <h3><span>Pending: {{ invites.pending }}</span>/<span>Total: {{ invites.total }}</span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">News</div>
                <div class="panel-body">
                    <h3><span>Total: {{ news.total }}</span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Feedback</div>
                <div class="panel-body">
                    <h3><span>Total: {{ feedbacks.total }}</span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
                    <h3><span>Total: {{ users.total }}</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
