<div class="login-box">
  <div class="login-logo">
    <a href=""><b>SIGN UP</b></a>
  </div>
  <div class="login-box-body">
    <form name="loginForm" method="post">
      <div class="form-group">
            <input type="text" class="form-control input-feild" placeholder="Name" name="name" ng-model="name" ng-required="true">
      </div>
      <div class="form-group">
          <input type="text" class="form-control input-feild" placeholder="Username" name="username" ng-model="username" ng-required="true">
      </div>
      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control input-feild" placeholder="Domain" name="domain" ng-model="domain" ng-required="true">
            <span class="input-group-addon" id="basic-addon2">@schools.com</span>
        </div>
      </div>
      <div class="form-group">
          <input type="text" class="form-control input-feild" placeholder="Email" name="email" ng-model="email" ng-required="true">
      </div>
      <div class="form-group">
          <input type="text" class="form-control input-feild" placeholder="Phone" name="phone" ng-model="phone" ng-required="true">
      </div>
      <div class="form-group">
          <input type="password" class="form-control input-feild" placeholder="Password" name="password" ng-model="password" ng-required="true">
      </div>
      <div class="form-group">
          <input type="password" class="form-control input-feild" placeholder="Confirm Password" name="confirm_password" ng-model="confirm_password" ng-required="true">
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="doSignup()">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
