<div class="col-md-10 col-md-offset-1">
	<a class="btn btn-primary pull-right" href="#!/schools/{{schoolID}}/feedbacks/create">Add Feedback</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Feedback</th>
				<th>User</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="feedback in feedbacks.data" class="invites">
				<td>{{ feedback.id }}</td>
				<td>{{ feedback.feedback }}</td>
				<td>{{ feedback.user.name }}</td>
				<td>
					<button class="btn btn-danger" ng-click="delete(feedback.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
