<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>Add Feedback</b></a>
	</div>

	<div class="login-box-body">
		<form name="feedbackForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && feedbackForm.feedback.$invalid]">
		        <textarea rows="5" class="form-control" name="feedback" placeholder="Enter your feedback" ng-model="feedback" ng-required="true">
		        </textarea>
		    </div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" ng-disabled="!feedback" class="btn btn-primary btn-block btn-flat" ng-click="add()">Add Feedback</button>
	            </div>
	        </div>
		</form>
	</div>
</div>
