.sidebar {
	background-color: #222d32;
	min-height: 610px;
}

.footer{
	position: absolute;
	bottom: 0;
}

.validation-error{
    color:red;
}
.fileinput-button{
	position: relative;
}
.file-uploader-input{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	visibility: hidden;
}
