<div class="col-md-10 col-md-offset-1">

	<a ng-href="#!/schools/{{schoolID}}/galleries/create">
		<button type="submit" class="btn btn-primary" style="float:right">
			New Gallery
		</button>
	</a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="gallery in galleries.data" class="galleries">
				<td>{{ $index + 1 }}</td>
				<td>{{ gallery.name }}</td>
				<td>{{ gallery.description }}</td>
				<td>
					<a class="btn btn-primary" ng-href="#!/schools/{{schoolID}}/galleries/{{gallery.id}}"><i class="glyphicon glyphicon-picture"></i></a>
					<a class="btn btn-primary" ng-href="#!/schools/{{schoolID}}/galleries/{{gallery.id}}/edit"><i class="glyphicon glyphicon-pencil"></i></a>
					<button class="btn btn-danger" ng-click="delete(gallery.id)"><i class="glyphicon glyphicon-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
