<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>Create Gallery</b></a>
	</div>

	<div class="login-box-body">
		<form name="inviteForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && inviteForm.name.$invalid]">
		        <input type="text" class="form-control input-feild" placeholder="Name" name="name" ng-model="name" ng-required="true">
		    </div>

		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && inviteForm.description.$invalid]">
				<textarea class="form-control input-field" name="description" rows="8" cols="80" ng-model="description" ng-required="true"></textarea>
		    </div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" class="btn btn-primary btn-flat" ng-click="create()">Create</button>
				  <button type="submit" class="btn btn-warning btn-flat" ng-click="cancel()">Cancel</button>
	            </div>
	        </div>
		</form>
	</div>
</div>
