<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h2><strong>Gallery:</strong> {{ gallery.name }}</h2>
                    <strong><p>Description:</p></strong>
                    <p>{{ gallery.description }}</p>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" ng-click="uploadImages()">Upload Images</button>
                </div>
            </div>
            <div class="text-center" ng-if="gallery.images.length == 0">
                <h4>No images uploaded yet.</h4>
            </div>
            <div ng-repeat="image in gallery.images" ng-if="$index % 3 == 0" class="row">
                <div class="col-xs-4">{{gallery.images[$index]}}</div>
                <div class="col-xs-4" ng-if="gallery.images.length > ($index + 1)">{{gallery.images[$index + 1]}}</div>
                <div class="col-xs-4" ng-if="gallery.images.length > ($index + 2)">{{gallery.images[$index + 2]}}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Upload Images</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Upload Images</label>
                <div class="col-sm-10">
                    <div class="control-group">
                        <div class="controls">
                            <label for="uploader" class="btn btn-success fileinput-button">
                                <i class="icon-plus icon-white"></i>
                                <input id="uploader" class="file-uploader-input" type="file" name="file" on-change="uploader.filesSelected" multiple file-model files="uploader.files"><span>Add files...</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="uploadingImages.length">
            <h4>Uploading images</h4>

            <div class="progress" ng-repeat="image in uploadingImages">
              <div class="progress-bar progress-bar-striped active" style="width: 45%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-left" ng-click="uploadedSelectedImages()">Upload</button>
        <button class="btn btn-warning" type="button" ng-click="closeUploadImagesModel()">Cancel</button>
    </div>
</script>
