<div class="col-md-10 col-md-offset-1">

	<a class="btn btn-primary pull-right" href="#!/schools/{{schoolID}}/news/create">Add News</a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="currentNews in news.data" class="invites">
				<td>{{ currentNews.id }}</td>
				<td>{{ currentNews.title }}</td>
				<td>{{ currentNews.description }}</td>
				<td>
					<a class="btn btn-primary" ng-href="#!/schools/{{schoolID}}/news/{{currentNews.id}}/edit">Edit</a>
					<button class="btn btn-danger" ng-click="delete(currentNews.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
