<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>ADD NEWS</b></a>
	</div>

	<div class="login-box-body">
		<form name="addNewsForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && addNewsForm.name.$invalid]">
		        <input type="text" class="form-control input-feild" placeholder="Title" name="title" ng-model="title" ng-required="true">
		        <span class="glyphicon glyphicon-user form-control-feedback"></span>
		    </div>

		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && addNewsForm.email.$invalid]">
		        <textarea rows="5" class="form-control" name="description" placeholder="Description" ng-model="description" ng-required="true">
		        </textarea>
		    </div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="add()">Add News</button>
	            </div>
	        </div>
		</form>

	</div>
</div>
