<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>EDIT NEWS</b></a>
	</div>

	<div class="login-box-body">
		<form name="editNewsForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && editNewsForm.title.$invalid]">
		        <input type="text" class="form-control input-feild" value="" placeholder="Name" name="title" ng-model="news.title" ng-required="true">
		        <span class="glyphicon glyphicon-user form-control-feedback"></span>
		    </div>

		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && editNewsForm.description.$invalid]">
		        <textarea rows="5" name="description" class="form-control" ng-model="news.description">
		        	{{ news.description }}
		        </textarea>
		    </div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="update()">Edit News</button>
	            </div>
	        </div>
		</form>

	</div>
</div>
