<div class="col-md-10 col-md-offset-1">

	<a ng-href="#!/schools/{{schoolID}}/invites/create">
		<button type="submit" class="btn btn-primary" style="float:right">
			Invite New
		</button>
	</a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invite in invites.data" class="invites">
				<td>{{ invite.id }}</td>
				<td>{{ invite.name }}</td>
				<td>{{ invite.email }}</td>
				<td>{{ invite.phone }}</td>
				<td>{{ invite.role.name }}</td>
				<td>
					<a class="btn btn-primary" ng-href="#!/schools/{{schoolID}}/invites/{{invite.token}}/edit"><i class="glyphicon glyphicon-pencil"></i></a>
					<button class="btn btn-danger" ng-click="delete(invite.id)"><i class="glyphicon glyphicon-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
