<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>INVITE PEOPLES</b></a>
	</div>

	<div class="login-box-body">
		<form name="inviteForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && inviteForm.name.$invalid]">
		        <input type="text" class="form-control input-feild" placeholder="Name" name="name" ng-model="name" ng-required="true">
		        <span class="glyphicon glyphicon-user form-control-feedback"></span>
		    </div>

		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && inviteForm.email.$invalid]">
		        <input type="email" class="form-control input-feild" placeholder="Email" name="email" ng-model="email" ng-required="true">
		        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		    </div>

			<div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && inviteForm.phone.$invalid]">
		        <input type="text" class="form-control input-feild" placeholder="Phone" name="phone" ng-model="phone" ng-required="true">
		        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
		    </div>

		    <div class="form-group has-feedback">
			    <select class="form-control"  ng-model="role_id" name="role_id" placeholder="Select Role">
			    	<option ng-repeat="role in roles" value="{{role.id}}">{{ role.name }}</option>
			    </select >
			</div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="invite()">Invite</button>
	            </div>
	        </div>
		</form>

	</div>
</div>
