<div class="login-box">
	<div class="login-logo">
	    <a href=""><b>EDIT INVITE</b></a>
	</div>

	<div class="login-box-body">
		<form name="editInviteForm" method="post">
		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && editInviteForm.name.$invalid]">
		        <input type="text" class="form-control input-feild" value="" placeholder="Name" name="name" ng-model="invite.name" ng-required="true">
		        <span class="glyphicon glyphicon-user form-control-feedback"></span>
		    </div>

		    <input type="hidden" name="id" ng-model="invite.id" >

		    <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && editInviteForm.email.$invalid]">
		        <input type="email" value="" class="form-control input-feild" placeholder="Email" name="email" ng-model="invite.email" ng-required="true">
		        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		    </div>

			<div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && editInviteForm.phone.$invalid]">
		        <input type="text" value="" class="form-control input-feild" placeholder="Phone" name="phone" ng-model="invite.phone" ng-required="true">
		        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
		    </div>

		    <div class="form-group has-feedback">
			    <select class="form-control"  ng-model="invite.role_id" name="role_id" placeholder="Select Role">
			    	<option ng-repeat="role in roles" ng-selected="role.id == invite.role_id" value="{{role.id}}">{{ role.name }}</option>
			    </select >
			</div>

	        <div class="row">
	            <div class="col-xs-12">
	              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="update()">Edit Invite</button>
	            </div>
	        </div>
		</form>

	</div>
</div>
