<div class="container">
    <div ng-repeat="school in schools" ng-if="$index % 3 == 0" class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ng-href="#!/schools/{{schools[$index].id}}" ng-click="selectSchool(schools[$index])">{{schools[$index].name}}</a>
                </div>
                <div class="panel-body">
                    <p><strong>Email:</strong> {{schools[$index].email}}</p>
                    <p><strong>Phone:</strong> {{schools[$index].phone}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-if="schools.length > ($index + 1)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ng-href="#!/schools/{{schools[$index+1].id}}" ng-click="selectSchool(schools[$index+1])">{{schools[$index + 1].name}}</a>
                </div>
                <div class="panel-body">
                    <p><strong>Email:</strong> {{schools[$index + 1].email}}</p>
                    <p><strong>Phone:</strong> {{schools[$index + 1].phone}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-if="schools.length > ($index + 2)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ng-href="#!/schools/{{schools[$index+2].id}}" ng-click="selectSchool(schools[$index+2])">{{schools[$index + 2].name}}</a>
                </div>
                <div class="panel-body">
                    <p><strong>Email:</strong> {{schools[$index + 2].email}}</p>
                    <p><strong>Phone:</strong> {{schools[$index + 2].phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
