<!doctype html>
<html ng-app="project">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="dist/scripts/main.js"></script>

        <link href="css/app.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/AdminLTE.min.css" rel="stylesheet">
        <link href="css/_all-skins.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{{ school ? 'School: '+school.name : 'School' }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!user"><a href="#!/login">Login</a></li>
                    <li ng-if="!user"><a href="#!/schools/signup">Sign up</a></li>
                    <li ng-if="user"><a href="#!/dashboard">Dashboard</a></li>
                    <li ng-if="user && school"><a ng-href="#!/schools/{{school.id}}/invites">Invites</a></li>
                    <li ng-if="user && school"><a ng-href="#!/schools/{{school.id}}/news">News</a></li>
                    <li ng-if="user && school"><a ng-href="#!/schools/{{school.id}}/feedbacks">Feedback</a></li>
                    <li ng-if="user && school"><a ng-href="#!/schools/{{school.id}}/users">Users</a></li>
                    <li ng-if="user && school"><a ng-href="#!/schools/{{school.id}}/galleries">Galleries</a></li>
                    <li ng-if="user && school"><a ng-href="#!/logout">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div ng-include="'/dist/views/schools/partials/header.html'" ng-controller="SchoolHeaderPartialController"></div>
        <div ng-view></div>
    </body>
</html>
