<div class="login-box">
  <div class="login-logo">
    <a href=""><b>SIGN IN</b></a>
  </div>
  <div class="login-box-body">
    <form name="loginForm" method="post">
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" class="form-control input-feild" placeholder="Username" name="username" ng-model="username"ng-required="true">
        </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" ng-required="true">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="doLogin()">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>
