<div class="col-md-10 col-md-offset-1">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Sr No.</th>
				<th>Name</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users.data" class="invites">
				<td>{{ $index + 1 }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.role.name }}</td>
				<td>
					<button class="btn btn-danger" ng-if="user.role.slug!='super-admin'" ng-click="remove(user.id)">Remove</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
